.todo-item.todo-complete {
  text-decoration: line-through;
  color: #777;
  background-color: #eee;
}

.app-main {
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  margin-bottom: 40px;
}
