.app-title {
  color: #007bff;
  font-size: 23px;
  margin-bottom: 10px;
}

.todo-item.todo-complete {
  text-decoration: line-through;
  color: #777;
  background-color: #eee;
}

.app-main {
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 40px;
}

.todo-checkbox {
  margin-right: 10px;
}

.todo-list-group {
  margin-bottom: 15px;
}

.new-todo-form {
  width: 220px;
  margin-right: 10px;
  margin-left: 5px;
}

.clear-complete-button {
  margin-top: 10px;
}

.todo-mode-button {
  margin-left: 1px;
  margin-right: 1px;
  margin-bottom: 10px;
}
